:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
}
* {
  box-sizing: border-box;
}
#pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--very-light-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.main-heading {
  margin-top: 10px;
  font-size: 40px;
}

.toggle{
  margin-top: 40px;
}

.cards-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0px 2px;
  margin: 0px 5px;
  padding: 10px;
  text-align: center;
  height: 100%;
  width: 33%;
  max-width: 300px;
  border-radius: 7px;
}
.content {
  margin-bottom: 5px;
  padding: 20px;
}
.card-heading {
  font-size: 20px;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dollor {
  padding-right: 3px;
  font-size: 30px;
}
.amount {
  font-size: 60px;
}
.btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  color: var(--very-light-grayish-blue);
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.card > p {
  border-bottom: 1px solid var(--light-grayish-blue);
  width: 100%;
}

.card:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;

  transform: scaleY(1.1);
}
.card:hover > .btn {
  color: hsl(237, 63%, 64%);
  background-image: none;
  background-color: var(--very-light-grayish-blue);
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  #pricing-container {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100;
  }
  .card {
    width: 90%;
    margin-bottom: 10px;
  }
  .card:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    transform: none;
  }
}
